@page "/createanimal"
@using ZooBlazor.Services;
@using ZooCore.Models
@inject AnimalService animalService
@inject NavigationManager navigationManager

<h1>Création d'un nouvel animal</h1>

<EditForm Model="newAnimal" OnValidSubmit="CreateNewAnimal">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Name">Nom</label>
        <InputText id="Name" class="form-control" @bind-Value="newAnimal.Name" />
    </div>

    @*  <div class="form-group">
    <label for="Espece">Espèce</label>
    <select id="Espece" class="form-control" @bind-Value="newAnimal.Espece">
    @foreach (var espece in Enum.GetValues(typeof(Espece)).Cast<Espece>())
    {
    <option value="@espece">@espece</option>
    }
    </select>
    </div> *@

    <div class="form-group">
        <label for="Age">Âge</label>
        <InputNumber id="Age" class="form-control" @bind-Value="newAnimal.Age" />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <InputText id="Description" class="form-control" @bind-Value="newAnimal.Description" />
    </div>

   @*  <div class="form-group">
        <div class="form-group" style="width:100%">
            <label for=" ImageURL">Lien vers l'image:</label>
            <InputText class="form-control" id=" ImageURL" placeholder="Saisir le lien vers l'image" @bind-Value="AnimalToEdit.ImageURL" />
            <small><ValidationMessage For="() => this.AnimalToEdit.ImageURL" /></small>
        </div> *@


        <button type="submit" class="btn btn-primary">Créer</button>
</EditForm>

@code {
    private Animal newAnimal = new Animal();

    private void CreateNewAnimal()
    {
        animalService.AddAnimal(newAnimal);
        navigationManager.NavigateTo("/");
    }
}
