@page "/createanimal"
@using ZooBlazor.Services;
@using ZooCore.Models;
@inject AnimalService animalService;
@inject NavigationManager navigationManager;

<h1>Création d'un nouvel animal</h1>

<EditForm Model="newAnimal" OnValidSubmit="CreateNewAnimal">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Name">Nom</label>
        <InputText id="Name" class="form-control" @bind-Value="newAnimal.Name" />
    </div>

    @*  <div class="form-group">
    <label for="Espece">Espèce</label>
    <select id="Espece" class="form-control" @bind-Value="newAnimal.Espece">
    @foreach (var espece in Enum.GetValues(typeof(Espece)).Cast<Espece>())
    {
    <option value="@espece">@espece</option>
    }
    </select>
    </div> *@

    <div class="form-group">
        <label for="Age">Âge</label>
        <InputNumber id="Age" class="form-control" @bind-Value="newAnimal.Age" />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <InputText id="Description" class="form-control" @bind-Value="newAnimal.Description" />
    </div>

    <div class="form-group">
        <label for="ImageURL">Lien vers l'image</label>
        <InputText id="ImageURL" class="form-control" @bind-Value="newAnimal.ImageURL" />
    </div>

    <button type="submit" class="btn btn-primary">Créer</button>
</EditForm>

@code {
    private Animal newAnimal = new Animal();

    private void CreateNewAnimal()
    {
        animalService.Put(newAnimal);
        navigationManager.NavigateTo("/");
    }
}